<div class="col-12 container">
	<div class="row">
		<div class="col-12 sectionImgCont">
			<div class="row">
				<carousel>
					<slide>
						<img src="../../../assets/img/5.1.jpg" alt="first slide" style="display: block; width: 100%;">
					</slide>
				</carousel>
			</div>
		</div>
		<div class="col-12 topContainer">
			<div class="row">
				<div class="col-12">
					<h2>Contact Us</h2>
					<p>If you have any burning issues or any enquiry to make to Varsity Unlimited Tutors, our lines are
						always open to allow prompt response to your needs and questions. Please write in your messages,
						we will be here for you within 12 hours.</p>
				</div>
			</div>
		</div>
		<div class="col-12 formContainer">
			<div class="row">
				<form class="col-12 pb-4 contactForm" action="https://formspree.io/admin@varsityunlimitedtutors.co.za"
					method="POST">
					<div class="row">
						<div class="formControl col-12 pt-4">
							<input name="Name" id="Name" type="text" class="col-8" placeholder="Name">
						</div>
						<div class="formControl col-12 pt-4">
							<input name="Phone" id="Phone" type="text" class="col-8" placeholder="Phone Number">
						</div>
						<div class="formControl col-12 pt-4">
							<input name="Email" id="Email" type="text" class="col-8" placeholder="Email">
						</div>
						<div class="formControl col-12 pt-4">
							<textarea name="Message" class="col-8" placeholder="Message" id="Message" cols="30"
								rows="10"></textarea>
						</div>
						<div class="formControl col-12 pt-4">
							<input type="submit" class="col-8" value="Submit">
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>
