<div class="col-12 container">
	<div class="row">
		<div class="col-12 sectionImgCont">
			<div class="row">
				<carousel>
					<slide>
						<img src="../../../assets/img/5.1.jpg" alt="first slide" style="display: block; width: 100%;">
					</slide>
				</carousel>
			</div>
		</div>
		<div class="col-12 topContainer">
			<div class="row">
				<div class="col-12">
					<h2>Contact Us</h2>
					<p>If you have any burning issues or any enquiry to make to Varsity Unlimited Tutors, our lines are
						always open to allow prompt response to your needs and questions. Please write in your messages,
						we will be here for you within 12 hours.</p>
				</div>
			</div>
		</div>
	</div>
</div>
