<div class="col-12 container">
	<div class="row">
		<div class="col-12 sectionImgCont">
			<div class="row">
				<carousel>
					<slide>
						<img src="../../../assets/img/1.1.jpg" alt="first slide" style="display: block; width: 100%;">
					</slide>
				</carousel>
			</div>
		</div>
		<div class="col-12 topContainer">
			<div class="row">
				<div class="col-12">
					<h2>About Us</h2>
					<p>Academic life has not been this easy. Varsity Unlimited Tutors have the burden of your success at
						heart. We give well-articulated, easy to follow guidelines to research proposals, dissertations,
						assignments, projects from a plethora of Business Institutions that are strewn across the globe.
						The diversity of our assistance package is so rich that you just need to dip your searching hand
						into our academi-nutritious calabash, and you will never go hungry for academic excellence.</p>
				</div>
			</div>
		</div>
	</div>
</div>
