<div class="col-12 container ">
	<div class="row">
		<div class="col-12 sectionImgCont">
			<div class="row">
				<carousel>
					<slide>
						<img src="../../../assets/img/1.1.jpg" alt="first slide" style="display: block; width: 100%;">
					</slide>
				</carousel>
			</div>
		</div>
		<div class="col-12 topContainer">
			<div class="row">
				<div class="col-12">
					<h2>About Us</h2>
					<p>Academic life has not been this easy. Varsity Unlimited Tutors have the burden of your success at
						heart. We give well-articulated, easy to follow guidelines to research proposals, dissertations,
						assignments, projects from a plethora of Business Institutions that are strewn across the globe.
						The diversity of our assistance package is so rich that you just need to dip your searching hand
						into our academi-nutritious calabash, and you will never go hungry for academic excellence.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 vision shadow-lg rounded">
		<div class="row">
			<div class="col-12 heading">
				<p>Our Mission</p>
			</div>
			<div class="col-12 text">
				<p>Our mission is to embolden and support students through technology, by breaking the distance
					barrier in the delivery of incomparable tutoring service to varsity students which will enhance
					productivity in global economies.<br><br>
					To accomplish this mission, we execute work of supreme eminence and calibre using state of the
					art technology and sublime professionalism and competence so that all our clients are satisfied.
				</p>
			</div>
		</div>
	</div>
	<div class="col-12 vision shadow-lg rounded">
		<div class="row">
			<div class="col-12 heading">
				<p>Our Vision</p>
			</div>
			<div class="col-12 text">
				<p>To build a well linked network of learned graduates who are ready to take critical positions in
					the economy leaving VUT at the crest of Business Colleges.
				</p>
			</div>
		</div>
	</div>
	<div class="col-12 vision shadow-lg rounded mb-5">
		<div class="row">
			<div class="col-12 heading">
				<p>Our Motto</p>
			</div>
			<div class="col-12 text">
				<p>A seamless service at your disposal.
				</p>
			</div>
		</div>
	</div>
</div>
