<div class="col-12 container">
	<div class="row">
		<div class="col-12 sectionImgCont">
			<div class="row">
				<carousel>
					<slide>
						<img src="../../../assets/img/4.1.jpg" alt="first slide" style="display: block; width: 100%;">
					</slide>
				</carousel>
			</div>
		</div>
		<div class="col-12 topContainer">
			<div class="row">
				<div class="col-12">
					<h2>Our Team</h2>
					<p>Excellency is what defines us</p>
				</div>
			</div>
		</div>
		<div class="col-12 bottomContainer">
			<ul >
				<li class="col-12">
					<div class="row">
						<div class="col-12 headerCont">
							<h1>
								Chief Executive Officer
							</h1>
						</div>
						<div class="col-12 bodyCont">
							<p> <strong>Jasper Jumo</strong>, an ardent accountant who is well adorned with several
								academic regalia from
								across the world is the Founder of Varsity Unlimited Tutors. He obtained a Bcom Honours
								in Accounting in 2002 at the University of Zimbabwe, he proceeded to do a Masters in
								Accounting with the University Of West Indies in the year 2005. His passion for figures
								and the business world in general made him start his very successful WITMAK COMMERCIAL
								Hub in Trinidad and Tobago. His company helped a lot of varsity students in polishing up
								their studies, on the other hand he worked as a consultant in financial statement
								preparation plus the financial management roles he assumed in those Islands. He finished
								an international professional qualification in Institute of Chartered Secretaries of
								South Africa (ICSA). In South Africa Jasper has continued improving the lives of
								hundreds of citizens by lecturing at various world standard Business schools. He is now
								at his final stage of CIMA international.</p>
						</div>
					</div>
				</li>
				<li class="col-12">
					<div class="row">
						<div class="col-12 headerCont">
							<h1>
								Chief Accountant & Business Strategies
							</h1>
						</div>
						<div class="col-12 bodyCont">
							<p>
								<strong>Josphat (Bolton) Makono</strong>, a visionary and dogmatic entrepreneur with accounting
								blood
								flowing in his veins has a mosaic of Accounting qualifications ranging from certificates
								to internationally recognised and highly regarded ACCA. Josphat developed an
								irreversible attachment and affinity with Accounting at a very tender age when he helped
								his mum maintain her vendor book-keeping records. In 2001 his appetite was rewarded when
								he got a Bcom Honours in Accounting at UNISA. He got various certificates in Pastel
								Accounting to polish up his skills. He worked for Major companies with Delta Beverages
								and Edgars Stores among the list of beneficiaries. He aims for the moon always and in
								the process becomes decorated with a lot of supernovas. In the period 2005-2010 he
								finished his ACCA and MBA with Mancosa to earn a pivotal role in many educational
								institutions in SA as a consultant in Accounting matters.
							</p>
						</div>
					</div>
				</li>
				<li class="col-12">
					<div class="row">
						<div class="col-12 headerCont">
							<h1>
								Business Strategist
							</h1>
						</div>
						<div class="col-12 bodyCont">
							<p> <strong>Stefano Martin</strong> is a motivational speaker, entrepreneur and a well-recognised academic
								tutor. He studied his first degree in HRM at University of Maryland (2007) where he was
								accredited with the best student status. He obtained the second Degree in Operations
								Management (2011) at University of Leicester and a Master’s Degree (2013) at the same
								university. He has several academic honorary degrees to his name and since year 2014 he
								has been offering tutorials to various Universities in across the globe. In 2010, he
								established Lethal Tutors an international organisation designed to assist university
								students in their studies. Through Lethal Tutors, he managed to assist thousands of
								students in their undergraduate and postgraduate studies. Since joining Varsity
								Unlimited Tutors, Stefano Martin has assisted in the transformation of the institution
								to become the best in its range.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
