<div class="row ">
  <div class="col-12 footer">
    <div class="col-12 contactInfo">
      <div class="row">
        <div class="col-12 col-md-4 contact">
          <div class="row">
            <div class="contactIcn col-2">
              <p><i class="fas fa-envelope"></i></p>
            </div>
            <div class="col-10 contactTxt"><p>admin@varsityunlimitedtutors.co.za</p></div>
          </div>
        </div>
        <div class="col-12 col-md-4 contact">
          <div class="row">
            <div class="contactIcn col-2">
              <p><i class="fas fa-phone-square"></i> <i class="pl-2 fab fa-whatsapp-square"></i></p>
            </div>
            <div class="col-10 contactTxt"><p>+27718331711</p></div>
          </div>
        </div>
        <div class="col-12 col-md-4 contact">
          <div class="row">
            <div class="contactIcn col-2">
              <p><i class="fab fa-skype"></i></p>
            </div>
            <div class="col-10 contactTxt"><p>VarsityUnlimitedTutors</p></div>
          </div>
        </div>
        <div class="col-12 col-md-4 contact mt-3">
          <div class="row">
            <div class="contactIcn col-2">
              <p><i class="fab fa-facebook-square"></i></p>
            </div>
            <div class="col-10 contactTxt">
              <p>
                <a href="https://www.facebook.com/vut.vut.5832">VUT</a> /
                <a href="https://www.facebook.com/vut.tutors">VUT.Tutors</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 contact mt-3">
          <div class="row">
            <div class="contactIcn col-2">
              <p><i class="fab fa-instagram"></i></p>
            </div>
            <div class="col-10 contactTxt">
              <p><a href="https://www.instagram.com/varsityunlimited">Varsity Unlimited</a></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 contact mt-3">
          <div class="row">
            <div class="contactIcn col-2">
              <p><i class="fab fa-twitter-square"></i></p>
            </div>
            <div class="col-10 contactTxt">
              <p><a href="https://twitter.com/VarsityUnlimit1">@varsityunlimit1</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyrightCont col-12">
      <div class="row">
        <div class="col-12 col-md-6 disclaimerText">
          <p>
            <span>DISCLAIMER:</span><br />
            All the written answers that we submit to our clients are not to be submitted to <span>ANY</span> institution
            <span>EXACTLY</span> as they are as this amounts to <span>PLAGIARISM</span>. We just provide guidance and our
            answers are mere guidelines that are used as a basis to build your own answers. We are also not
            <span>AFFILIATED</span> to any institution but operate <span>INDEPENDENTLY</span>.
          </p>
        </div>
        <div class="col-12 col-md-2 copyrightLeft"></div>
        <div class="col-12 col-md-4 copyrightLeft">
          <p>
            <strong> A Seamless Service At Your Disposal! </strong><br />
            <span>
              © 2020 Varsity Unlimited Tutors. All Rights Reserved <br />
              <strong>
                <p>Designed and Developed by <a href="https://www.facebook.com/jailedonfire">Tatenda</a></p>
              </strong>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
