@import "../../../styles/all";

.footer {
    background-color: $primary-color;
    overflow: hidden;

    .copyrightCont {
        color: rgb(204, 202, 202);
        padding: 0;
        margin-block-start: 20px;
        margin-block-end: 20px;

        .copyrightLeft {
            display: grid;
            place-items: center end;

            span {
                font-size: 12px;
            }
        }

        .copyright {
            display: grid;
            place-items: center start;
        }

        .disclaimerText {
            display: grid;
            place-items: center start;

            p {
                font-size: 12px;

                span {
                    font-weight: 800;
                }
            }
        }
    }

    .contactInfo {
        border-block-end: 2px solid lighten($primary-color, 3);
        margin-block-start: 15px;
        padding-block-end: 15px;
        color: rgb(222, 222, 223);

        .contact {
            .contactIcn {}

            .contactTxt {
                p {
                    a {
                        color: rgb(222, 222, 223);
                        font-weight: 600;
                    }
                }

            }
        }
    }
}

p {
    margin: 0;
}
