<div class="col-12 container">
		<div class="row">
			<div class="col-12 sectionImgCont">
				<div class="row">
					<carousel>
						<slide>
							<img src="../../../assets/img/5.1.jpg" alt="first slide" style="display: block; width: 100%;">
						</slide>
					</carousel>
				</div>
			</div>
			<div class="col-12 topContainer">
				<div class="row">
					<div class="col-12">
						<h2>Testimonials</h2>
						<p>Due to the excellent service we offer, this is what some of our clients have to say</p>
					</div>
				</div>
			</div>
		</div>
	</div>
