<div class="col-12 container">
	<div class="row">
		<div class="col-12 carouselCont">
			<div class="row">
				<carousel>
					<slide>
						<img src="../../../assets/img/1.1.jpg" alt="first slide" style="display: block; width: 100%;">
					</slide>
					<slide>
						<img src="../../../assets/img/2.1.jpg" alt="first slide" style="display: block; width: 100%;">
					</slide>
					<slide>
						<img src="../../../assets/img/3.1.jpg" alt="first slide" style="display: block; width: 100%;">
					</slide>
					<slide>
						<img src="../../../assets/img/4.1.jpg" alt="first slide" style="display: block; width: 100%;">
					</slide>
					<slide>
						<img src="../../../assets/img/5.1.jpg" alt="first slide" style="display: block; width: 100%;">
					</slide>
				</carousel>
			</div>
		</div>
		<div class="col-12 servicesList">
			<ul class="row">
				<li class="serviceItem col-12 col-md-6 col-lg-3">
					<div class="col-12 serviceItemContainer">
						<div class="row">
							<div class="col-12 iconContainer">
								<p>
									<i class="fas fa-book-reader"></i>
								</p>
							</div>
							<div class="text-center col-12 txtContainer">
								<h1>Assignment Guidelines</h1>
								<p>Students might not have any clue on how the
									questions are approached and VUT intervenes
									by unlocking these puzzles for its clients,
									making the questions easier to understand.</p>
							</div>
						</div>
					</div>
				</li>
				<li class="serviceItem col-12 col-md-6 col-lg-3">
					<div class="col-12 serviceItemContainer">
						<div class="row">
							<div class="col-12 iconContainer">
								<p>
									<i class="fas fa-pen-square"></i>
								</p>
							</div>
							<div class="text-center col-12 txtContainer">
								<h1>Dissertation Writing Guidance</h1>
								<p>Guidance is given from chapter one until
									the final product is finished. We mark also
									completed work and give suggestions,
									as well as checking for plagiarism.</p>
							</div>
						</div>
					</div>
				</li>
				<li class="serviceItem col-12 col-md-6 col-lg-3">
					<div class="col-12 serviceItemContainer">
						<div class="row">
							<div class="col-12 iconContainer">
								<p>
									<i class="fas fa-file-video"></i>
								</p>
							</div>
							<div class="text-center col-12 txtContainer">
								<h1>Skype Video/Voice Lessons</h1>
								<p>An expert in the field takes the student
									through the questions one after another.
									The questions should have been forwarded
									to VUT in advance.</p>
							</div>
						</div>
					</div>
				</li>
				<li class="serviceItem col-12 col-md-6 col-lg-3">
					<div class="col-12 serviceItemContainer">
						<div class="row">
							<div class="col-12 iconContainer">
								<p>
									<i class="fas fa-users"></i>
								</p>
							</div>
							<div class="text-center col-12 txtContainer">
								<h1>Workshops and Group Lessons</h1>
								<p>This can be done for the whole module
									to learners in a particular area.</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-12 selling">
			<div class="row">
				<div class="col-10 offset-1 darkBg text-center">
					<h1 class="pb-4">A Seamless Service at Your Disposal</h1>
					<p> Varsity Unlimited Tutors continually strive to exceed your expectations and consistently deliver
						exceptional quality work, each and every time!

						Proof-reading of dissertations is done with much fluidity and efficiency even more personalised
						and extremely customised dissertation and thesis writing help is offered. It has never happened
						in the world of online tutoring to have such a collection of professional and academically
						endowed tutors at only one click.

						We offer well-crafted, multifaceted help in assignments. We have the unique qualities and
						abilities of reading into the minds of lecturers who set assignment questions. We even unleash
						our sharp and profound creativity to all resource caches to bring at your academic table the
						most savoury answers and guidelines that even lecturers are swept off their academic standing.
					</p>
				</div>
			</div>
		</div>
		<div class="col-12 carouselCont">
			<div class="row">
				<carousel>
					<slide>
						<img src="../../../assets/img/1.1.jpg" alt="first slide" style="display: block; width: 100%;">
					</slide>
				</carousel>
			</div>
		</div>
	</div>
</div>
