<div class="col-12 container">
	<div class="row">
		<div class="col-12 sectionImgCont">
			<div class="row">
				<carousel>
					<slide>
						<img src="../../../assets/img/2.1.jpg" alt="first slide" style="display: block; width: 100%;">
					</slide>
				</carousel>
			</div>
		</div>
		<div class="col-12 topContainer">
			<div class="row">
				<div class="col-12">
					<h2>Our Services</h2>
					<p>Varsity Unlimited Tutors Provides the following services</p>
				</div>
			</div>
		</div>
	</div>
</div>
