<div class="col-12 container">
	<div class="row">
		<div class="col-12 sectionImgCont">
			<div class="row">
				<carousel>
					<slide>
						<img src="../../../assets/img/2.1.jpg" alt="first slide" style="display: block; width: 100%;">
					</slide>
				</carousel>
			</div>
		</div>
		<div class="col-12 topContainer">
			<!-- <div class="row"> -->
			<div class="col-12">
				<h2>Our Services</h2>
				<p>Varsity Unlimited Tutors Provides the following services</p>
				<!-- </div> -->
			</div>
		</div>
		<div class="col-12 bottomCont">
			<ul class="row">
				<li class="col-12 col-md-6 col-lg-4">
					<div class="col-12 rounded shadow">
						<div class="row">
							<div class="col-12 serviceHeader">
								<div class="row">
									<div class="col-2 serviceHeaderIcon">
										<p><i class="fas fa-file-alt"></i></p>
									</div>
									<div class="col-10 serviceHeaderTxt">
										<p>Assignment Guidelines</p>
									</div>
								</div>
							</div>
							<div class="col-12 serviceTxt">
								<div class="row">
									<div class="col-12 txtCont">
										<p>We help students unlock the puzzles surrounding their assignments by
											assisting them to understand requirements. This is done through the
											provision of bulleted guidelines to each assignment question. More
											personalised assignment help is available from VUT on request. It should
											also be noted that once the assignment has been solved and guidelines
											provided then you can call VUT anytime for clarity and further explanations.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li class="col-12 col-md-6 col-lg-4">
					<div class="col-12 rounded shadow">
						<div class="row">
							<div class="col-12 serviceHeader">
								<div class="row">
									<div class="col-2 serviceHeaderIcon">
										<p><i class="fas fa-file-alt"></i></p>
									</div>
									<div class="col-10 serviceHeaderTxt">
										<p>Assignment Model Answers</p>
									</div>
								</div>
							</div>
							<div class="col-12 serviceTxt">
								<div class="row">
									<div class="col-12 txtCont">
										<p>This is a closer and a further step from the one explained above. Sometimes
											students would want to see how the different facts are synthesised and
											interlinked to produce a flowing essay. Students should however note that
											they are not to submit the model answers just as they are as this will
											amount to plagiarism, but they should change these to be their own product.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li class="col-12 col-md-6 col-lg-4">
					<div class="col-12 rounded shadow">
						<div class="row">
							<div class="col-12 serviceHeader">
								<div class="row">
									<div class="col-2 serviceHeaderIcon">
										<p><i class="fas fa-file-alt"></i></p>
									</div>
									<div class="col-10 serviceHeaderTxt">
										<p>Project Proposal Guidelines</p>
									</div>
								</div>
							</div>
							<div class="col-12 serviceTxt">
								<div class="row">
									<div class="col-12 txtCont">
										<p>Most students do not know how to write project proposals and such assistance
											is offered. We offer our help from the very first step of choosing a topic
											for your research. We have a very rich database with research topics, we do
											not prescribe to students the research topic to choose but we do offer
											guidance looking at the advantages and disadvantages of any topic.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li class="col-12 col-md-6 col-lg-4">
					<div class="col-12 rounded shadow">
						<div class="row">
							<div class="col-12 serviceHeader">
								<div class="row">
									<div class="col-2 serviceHeaderIcon">
										<p><i class="fas fa-file-alt"></i></p>
									</div>
									<div class="col-10 serviceHeaderTxt">
										<p>Dissertation Writing Guidance</p>
									</div>
								</div>
							</div>
							<div class="col-12 serviceTxt">
								<div class="row">
									<div class="col-12 txtCont">
										<p>Guidance is given from chapter one until the final product is finished. We
											mark also completed work and give suggestions, as well as checking for
											plagiarism. Dissertations are quite strenuous and cumbersome. Believe me
											students, you cannot this walk this path alone, you need VUT’s helping hand.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li class="col-12 col-md-6 col-lg-4">
					<div class="col-12 rounded shadow">
						<div class="row">
							<div class="col-12 serviceHeader">
								<div class="row">
									<div class="col-2 serviceHeaderIcon">
										<p><i class="fas fa-file-alt"></i></p>
									</div>
									<div class="col-10 serviceHeaderTxt">
										<p>Group Seminars</p>
									</div>
								</div>
							</div>
							<div class="col-12 serviceTxt">
								<div class="row">
									<div class="col-12 txtCont">
										<p>If students that are stationed in the same area want some clarity on a
											certain topic in a certain module VUT will send an expert to clear all the
											confusion. This can be over a weekend from Friday through Sunday. These are
											almost the same as your Group lessons but seminars can be on VUT’s chosen
											topic and they will be announced in advance via the Website. Students then
											register online and any burning questions surrounding the Topic will be
											answered.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li class="col-12 col-md-6 col-lg-4">
					<div class="col-12 rounded shadow">
						<div class="row">
							<div class="col-12 serviceHeader">
								<div class="row">
									<div class="col-2 serviceHeaderIcon">
										<p><i class="fas fa-file-alt"></i></p>
									</div>
									<div class="col-10 serviceHeaderTxt">
										<p>Skype Video/Voice Lessons</p>
									</div>
								</div>
							</div>
							<div class="col-12 serviceTxt">
								<div class="row">
									<div class="col-12 txtCont">
										<p>This is offered to modules that require calculations mainly. An expert in the
											field takes the student through the questions one after another. The
											questions should have been forwarded to VUT in advance. Once you have given
											your assignment to VUT and guidelines have been provided and you have paid
											for that service, skype and voice lessons become free of charge. You will
											have unlimited access to a specialist regarding that particular module whose
											guidelines you would have received. VUT boasts of many students you never
											attended lectures but were taught via the internet through skype and they
											got flying colours.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li class="col-12 col-md-6 col-lg-4">
					<div class="col-12 rounded shadow">
						<div class="row">
							<div class="col-12 serviceHeader">
								<div class="row">
									<div class="col-2 serviceHeaderIcon">
										<p><i class="fas fa-file-alt"></i></p>
									</div>
									<div class="col-10 serviceHeaderTxt">
										<p>Workshops and Groups Lessons</p>
									</div>
								</div>
							</div>
							<div class="col-12 serviceTxt">
								<div class="row">
									<div class="col-12 txtCont">
										<p>This can be done for the whole module to learners in a particular area. For
											example if there are people who are doing Managerial Finance in Mpumalanga,
											they form a study group of not less than 3 people. Once this is done they
											forward their requests Varsity Unlimited Tutors as in difficult topics they
											would want help on. Varsity Unlimited tutors hold these workshops on Friday
											Saturday and Sunday. This time is chosen not to interfere with your work.
											VUT sends specialists anywhere is SA, the bigger the group the better as the
											sum will be shared among many students.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li class="col-12 col-md-6 col-lg-4">
					<div class="col-12 rounded shadow">
						<div class="row">
							<div class="col-12 serviceHeader">
								<div class="row">
									<div class="col-2 serviceHeaderIcon">
										<p><i class="fas fa-file-alt"></i></p>
									</div>
									<div class="col-10 serviceHeaderTxt">
										<p>Programs</p>
									</div>
								</div>
							</div>
							<div class="col-12 serviceTxt">
								<div class="row">
									<div class="col-12 txtCont">
										<div class="row">
											<div class="col-6">
												<p>MBA</p>
											</div>
											<div class="col-6">
												<p>MPA</p>
											</div>
											<div class="col-6">
												<p>BPA</p>
											</div>
											<div class="col-6">
												<p>CSSA</p>
											</div>
											<div class="col-6">
												<p>CIMA</p>
											</div>
											<div class="col-6">
												<p>CTA</p>
											</div>
											<div class="col-6">
												<p>ACCA</p>
											</div>
											<div class="col-6">
												<p>CFA</p>
											</div>
											<div class="col-6">
												<p>PGCE</p>
											</div>
											<div class="col-6">
												<p>PGD-BM</p>
											</div>
											<div class="col-6">
												<p>PGD-PM</p>
											</div>
											<div class="col-6">
												<p>BBA</p>
											</div>
											<div class="col-6">
												<p>BCOM Finance</p>
											</div>
											<div class="col-6">
												<p>BCOM Accounting</p>
											</div>
											<div class="col-6">
												<p>BCom HR</p>
											</div>
											<div class="col-6">
												<p>BCom Marketing</p>
											</div>
											<div class="col-6">
												<p>BCom Supply Chain</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li class="col-12 col-md-6 col-lg-4">
					<div class="col-12 rounded shadow">
						<div class="row">
							<div class="col-12 serviceHeader">
								<div class="row">
									<div class="col-2 serviceHeaderIcon">
										<p><i class="fas fa-file-alt"></i></p>
									</div>
									<div class="col-10 serviceHeaderTxt">
										<p>Modules</p>
									</div>
								</div>
							</div>
							<div class="col-12 serviceTxt">
								<div class="row">
									<div class="col-12 txtCont">
										<div class="row">
											<div class="col-6">
												<p>Statistics</p>
											</div>
											<div class="col-6">
												<p>Corporate Finance</p>
											</div>
											<div class="col-6">
												<p>Analytical Technichs</p>
											</div>
											<div class="col-6">
												<p>Management Accounting</p>
											</div>
											<div class="col-6">
												<p>Economics</p>
											</div>
											<div class="col-6">
												<p>Business Administration</p>
											</div>
											<div class="col-6">
												<p>Operations Management</p>
											</div>
											<div class="col-6">
												<p>Taxation</p>
											</div>
											<div class="col-6">
												<p>Auditing</p>
											</div>
											<div class="col-6">
												<p>Business Law</p>
											</div>
											<div class="col-6">
												<p>Ethics</p>
											</div>
											<div class="col-6">
												<p>Human Resources</p>
											</div>
											<div class="col-6">
												<p>BCom Marketing</p>
											</div>
											<div class="col-6">
												<p>Accounting For Decision Making</p>
											</div>
											<div class="col-6">
												<p>Finance For Decision Making</p>
											</div>
											<div class="col-6">
												<p>Supply Chain Management</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
