@import "./styles/all";
.container {
	margin-block-start: $header-size;
	overflow-x: hidden;
	.topContainer {
		background-color: $primary-color;
		padding-block-start: 20px;
		padding-block-end: 20px;
		inline-size: 100vw;
		color: white;
	}

	.sectionImgCont {
		max-block-size: 240px;
		overflow: hidden;
	}
}
